html {
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: 'Oswald', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 6.4rem;
}

.text-center {
    text-align: center;
}

.star-wars-group__title {
    padding-bottom: 1.6rem;
}

h1, li, p, a {
    color: yellow;
}

h1 {
    margin: 0;
    padding: .8rem;
    font-size: 4rem;
}

li {
    font-weight: 400;
    font-size: 3rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: .1rem solid rgba(255, 255, 0, .3);
    padding: 1.6rem 0;
}

p {
    opacity: .7;
    font-size: 1.2rem;
    margin: 0;
}

